<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="header">
        <a href="/">CREATE</a>
        <a href="submitt">VIEW</a>
    </div>
    
    <div class="blog">
        <h1>Welcome to Tushar's Blog world</h1>
        <div class="box">

        </div>

    </div>
</body>
</html>